footer{
    background-color: #1E8E9D;
    
    .bandeau{
        height: 8vh;
        
        
        background-color: #1E8E9D;
    }
    .contact{
        display: flex;
        justify-content: space-around;
        background-color: white;
    }

    h4{
        color: #1E8E9D;
        font-weight: bold;
    }
    .lien{
        text-align: :center;

    }
    }
