
body{
    margin: 0;

}
header{
    background-color: #1e8e9d;

}

.contact{
    
        display: flex;
        justify-content: space-around;
        
    
        .tel{
            display: flex;
            align-items: center;
            
        }
        .email{
            display: flex;
            align-items: center;
        }
        svg{
            width: 40px;
            fill: white;
        }
        p{
            color: white;
        }
    
    }

