//==================================== FONT ====================================

@font-face {
    font-family: "Amatica SC";
    src: url("/fonts/Amatica SC.woff2") format("woff2"),
           url("/fonts/Amatica SC.woff") format("woff");
   }

   @font-face {
    font-family: "AmstelvarAlpha-Variations";
    src: url("/fonts/AmstelvarAlpha-Variations.woff2") format("woff2"),
           url("/fonts/AmstelvarAlpha-Variations.woff") format("woff");
   }

   @font-face {
    font-family: "Brandon Grotesque";
    src: url("font/Brandon_Grotesque/Brandon_light.woff2") format("woff2"),
           url("font/Brandon_Grotesque/Brandon_light.woff") format("woff");
   }


   //==================================== Variables ====================================

   $bg-blue: #1E8E9D;

   //==================================== GENERAL ====================================

html, body {

    margin: 0;
    padding: 0;

}


//==================================== Page Contact ====================================
.contact-logo {

/* Logo-final*/

width: 319px;
height: 163px;
object-fit: contain;
object-position: center;

}

.font-b {

    font-family: "Brandon Grotesque";
    color: $bg-blue;

}

.bg-blue {

    background-color: $bg-blue;

}

.formulaire {

    input {

        &::placeholder {

            color: white;

        }

        background-color: $bg-blue;

    }

    textarea {

        &::placeholder {

            color: white;

        }
        background-color: $bg-blue;

    }



}




//==================================== Page Index ====================================



//==================================== Page Boutique ====================================